@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.RejectedTestimonials {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
  }

  &__main {
    text-align: left;

    &--mobile {
      text-align: left;
      height: 100%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__testimonials {
    position: relative;
    width: 100%;
    height: 250px;

    @include on1440 {
      height: 334px;
    }

    @include on1920 {
      height: 500px;
    }
  }

  &__testimonial1 {
    position: absolute;
    top: 10%;
    width: 195px;
    height: 172px;

    @include on1440 {
      width: 259px;
      height: 230px;
    }

    @include on1920 {
      width: 388.5px;
      height: 344px;
    }
  }

  &__testimonial2 {
    position: absolute;
    right: 0;

    width: 261px;
    height: 120px;

    @include on1440 {
      width: 349px;
      height: 160px;
    }

    @include on1920 {
      width: 523px;
      height: 239px;
    }
  }

  &__testimonial3 {
    position: absolute;
    bottom: 0;
    right: 20%;

    width: 218px;
    height: 118px;

    @include on1440 {
      width: 291px;
      height: 158px;
    }

    @include on1920 {
      width: 436px;
      height: 236px;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    padding: 4.5% 0 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    @include onDesktop {
      background-image: url("../../images/quiz-ill.svg");
      padding: 40px 35px 35px;
      width: 40%;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }

    &--content-wrapper {
      flex: 1 1 auto;
    }
  }

  &__content-wrapper {
    display: none;
  
    @include onDesktop {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 60%;
    }
  }

  &__title {
    margin: 0 0 10%;
    padding: 5% 0;

    font-weight: 700;
    font-size: 22px;
    line-height: 130%;

    &--high {
      border-bottom: 2px solid $purple;
      transition: 0.3s all;
      color: $red-underline;

      &:hover {
        background-color: $purple;
        border-radius: 3px;
      
        cursor: pointer;
      }
    }

    @include onTablet {
      padding: 2% 0;
    }

    @include onDesktop {
      padding: 0;
      font-size: 24px;
      text-align: left;
    }

    @include on1440 {
      font-size: 36px;
    }

    @include on1920 {
      font-size: 48px;
    }
  
    &--mobile {
      text-align: center;
      padding: 8% 5%;
      margin: 0;
    }
  }

  &__slide {
    padding: 8px 16px;
    width: 100%;
    height: 186px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 130%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--1 {
      background-color: $slider-gray;
    }

    &--2 {
      background-color: $main-red;
      color: $white;
    }

    &--3 {
      background-color: $slider-black;
      color: $white;
    }

    @media (max-width: 370px) {
      font-size: 10px;
    }
  }

  &__slider {
    padding: 0 0 5% 6%;
  }

  &__name-wrapper {
    &--name {
      display: block;
      font-weight: 700;
      line-height: 160%;
      font-size: 13px;
    }

    &--position {
      display: block;
      line-height: 160%;
      font-size: 10px;
    }
  }

  &__button {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    width: 98px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;

    color: $white;

    transition: 0.3s all;

    @include onDesktop {
      // position: absolute;
      // left: 5%;
      // bottom: 10%;
      margin-left: 0;
      margin-bottom: 0;
      width: 242px;
      height: 98px;
      font-size: 17px;
    }

    @include on1440 {
      margin-bottom: 0;
      width: 242px;
      height: 98px;
      font-size: 22px;
    }

    @include on1920 {
      margin-bottom: 0;
      width: 242px;
      height: 98px;
      font-size: 33px;
    }

    &:hover {
      transform: scale(110%);
      cursor: pointer;
    }

    &--blue {
      background-image: url('../../images/Rejected/blue.svg');
      background-size: cover;
    }
  }

  &__footer {
    display: flex;

    @include onDesktop {
      display: none;
    }
  }

  &__footer-button {
    border-radius: 0;
    width: 100%;
    font-size: 10px;

    @include onDesktop {
      width: 80%;
      border-radius: 10px;
      display: block;
      margin: auto;
    }

    @include on1440 {
      font-size: 16px;
    }

    @include on1440 {
      font-size: 20px;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
  
    @include onDesktop{
      display: block;
    }

    &--mobile {
      display: flex;
      justify-content: center;
      left: -70%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__illustration {
    width: 124px;
    height: 190px;
    z-index: -1;
    position: absolute;
    bottom: 7%;
    right: 1%;

    @include onTablet {
      right: 50px;
    }

    @include onDesktop {
      z-index: 1;
      bottom: 18%;
      right: 3%;
    }

    @include on1440 {
      width: 166px;
      height: 253px;
    }

    @include on1920 {
      width: 248px;
      height: 379px;
    }
  }
}

.swiper-pagination {
  &-bullet {
    background-color: $pink-pagination;
    width: 10px;
    height: 10px;
    opacity: 1;

    &-active {
      background-color: $pink-pagination-active;
    }
  }
}

.swiper-wrapper {
  padding-bottom: 16px;
}
