@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';
@import '../../utils/animation.scss';

.AdditionalDiscount {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 30px 0 0;

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
    width: 100%;
    padding: 0;
  }

  &__info {
    display: none;
    background-image: url("../../images/quiz-ill.svg");

    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 35px 35px;
      width: 40%;
      height: 100vh;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include onDesktop {
      width: 60%;
    }
  }

  &__main {
    padding: 12% 0 0;

    @include onDesktop {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 4%;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    opacity: 0;
    animation: manifestation 0.3s linear 0s 1 alternate forwards;

    @media (max-width: 374px) {
      font-size: 16px;
    }

    &--mobile {
      opacity: 0;
      animation: manifestation 0.3s linear 0s 1 alternate forwards;

      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--high {
      border-bottom: 2px solid $purple;
      transition: 0.3s all;
      color: $red-underline;

      &:hover {
        background-color: $purple;
        border-radius: 3px;
      
        cursor: pointer;
      }
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
    }

    @media (min-width: 1920px) {
      font-size: 48px;
    }
  }

  &__paragraph {
    text-align: left;

    font-size: 16px;
    line-height: 130%;
    padding: 6% 0;

    opacity: 0;
    animation: manifestation 0.3s linear 0.3s 1 alternate forwards;

    @include onDesktop {
      padding: 0;
      margin: 4% 0;
      line-height: 150%;
      width: 85%;
    }

    @include on1440 {
      font-size: 20px;
    }

    @include on1920 {
      font-size: 24px;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8%;
    padding-top: 5%;

    font-weight: 700;
    font-size: 16px;
    line-height: 170.9%;

    @include onDesktop {
      flex-direction: row;
      padding-top: 3%;
      font-size: 17px;
      justify-content: left;
    }

    @include on1440 {
      font-size: 22px;
    }

    @include on1920 {
      font-size: 33px;
    }
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 149px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    opacity: 0;

    color: $white;

    transition: 0.3s all;

    @include onDesktop {
      margin-bottom: 0;
      width: 170px;
      height: 69px;
    }

    @include on1440 {
      width: 226px;
      height: 92px;
    }

    @include on1920 {
      width: 339px;
      height: 137px;
    }

    &:hover {
      transform: scale(110%);
    }

    &--blue {
      background-image: url('../../images/Rejected/blue.svg');
      background-size: cover;

      animation: manifestation 0.3s linear 0.6s 1 alternate forwards;
    }

    &--yellow {
      background-image: url('../../images/Rejected/yellow.svg');
      background-size: cover;

      animation: manifestation 0.3s linear 0.8s 1 alternate forwards;
    }
  }

  &__footer {
    background-color: $white;
    height: 33px;
  }

  &__arrow {
    display: none;
    position: absolute;
  
    @include onDesktop{
      left: -20%;
      display: block;
    }

    &--mobile {
      display: flex;
      justify-content: center;
      left: -16%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__illustration {
    &--mobile {
      width: 122px;
      height: 216px;
      position: absolute;
      bottom: 7%;
      right: 1%;

      transform: translateY(100%);
      opacity: 0;
      animation: moveUp 0.3s linear 1s 1 alternate forwards;

      @include onTablet {
        right: 50px;
      }

      @include onDesktop {
        width: 198px;
        height: 346px;
        z-index: 1;
        bottom: 7%;
        right: 30%;
      }

      @include on1440 {
        width: 264px;
        height: 461px;
      }

      @include on1920 {
        width: 395px;
        height: 691px;
      }
    }
  }
}
