@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.SecondQuizPage {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 30px 0 0;

  background-image: radial-gradient(50% 50% at 80% 30%, $pink-gradient 0%, $black-gradient 100%);

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
    width: 100%;
    padding: 0;
  }

  &__info {
    display: none;
    background-image: url("../../images/quiz-ill.svg");

    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 35px 35px;
      width: 40%;
      height: 100vh;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include onDesktop {
      width: 60%;
    }
  }

  &__main {
    padding: 12% 0 0;

    @include onDesktop {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 4%;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    transform: translateX(30%);
    opacity: 0;
    animation: moveLeft 0.3s linear 0s 1 alternate forwards;

    @media (max-width: 374px) {
      font-size: 16px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--blue {
      border-bottom: 2px solid $blue-radiobutton;
      transition: 0.3s all;

      &:hover {
        background-color: $blue-radiobutton;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
      }
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
    }

    @media (min-width: 1920px) {
      font-size: 48px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding-top: 5%;

    @include onDesktop {
      justify-content: left;
    }
  }

  &__button {
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
    width: 144px;
    height: 86px;
    font-weight: 700;
    font-size: 16px;

    opacity: 0;

    transition: 0.3s all;

    @include onDesktop {
      width: 163px;
      height: 97px;
      font-size: 17px;
      justify-content: left;
    }

    @include on1440 {
      width: 220px;
      height: 131px;
      font-size: 22px;
    }

    @include on1920 {
      width: 326px;
      height: 194px;
      font-size: 33px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }

    &--true {
      background-image: url('../../images/SecondQuizPage/true.svg');
      background-size: cover;

      animation: manifestation 0.3s linear 0.3s 1 alternate forwards;

      &:focus {
        transform: scale(115%);
      }
    }

    &--false {
      background-image: url('../../images/SecondQuizPage/false.svg');
      background-size: cover;

      animation: manifestation 0.3s linear 0.6s 1 alternate forwards;

      &:focus {
        transform: scale(115%);
      }
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;
    gap: 14px;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 200px;
    z-index: 1;
    position: absolute;
    bottom: 8%;

    font-size: 12px;

    @include onDesktop {
      font-size: 16px;
      left: 36%;
      right: inherit;
      gap: 36px;
    }
  }

  &__arrow {
    font-size: 12px;
    line-height: 170.9%;

    @include onDesktop {
      font-size: 18px;
    }

    @include on1920 {
      font-size: 24px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include onDesktop {
        display: inline;
      }
    }
  }

  &__previous {
    display: flex;
    gap: 5px;
    transition: 0.3s all;
    
    &:hover {
      transform: scale(105%);
    }

    @include onDesktop {
      display: flex;
    }
  }

  &__next {
    display: flex;
    gap: 5px;
    transition: 0.3s all;

    &:hover {
      transform: scale(105%);
    }
  }

  &__illustration {
    width: 111px;
    height: 238px;
    z-index: -1;
    position: absolute;
    bottom: 7%;
    right: 1%;

    transform: translateY(100%);
    opacity: 0;
    animation: moveUp 0.3s linear 0.9s 1 alternate forwards;

    @include onTablet {
      right: 50px;
    }

    @include onDesktop {
      width: 155px;
      height: 333px;
      z-index: 1;
      bottom: 7%;
      right: 35%;
    }

    @include on1440 {
      width: 206px;
      height: 444px;
    }

    @include on1920 {
      width: 309px;
      height: 665px;
    }
  }

  &__star {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(30%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100;
  }
}
