@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.MainPage {
  background-image: radial-gradient(50% 50% at 80% 50%, $pink-gradient 0%, $black-gradient 100%);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px 0 5px;

  @include onDesktop {
    padding: 50px 0 0;
    background-image: linear-gradient(to left bottom, $pink-gradient, transparent 30%, $pink-gradient);
  }

  &__logo {
    margin-bottom: 15%;

    @include onDesktop {
      margin-bottom: 5%;
      width: 224px;
      height: 44px;
    }

    @include on1920 {
      width: 320px;
      height: 63px;
    }
  }

  &__title {
    margin: 0 0 5%;
    font-weight: 700;
    font-size: 26px;
    line-height: 110%;

    @include onDesktop {
      margin: 0 0 3%;
      font-size: 41px;
      line-height: 100%;
    }

    @include on1440 {
      font-size: 62px;
    }

    @include on1920 {
      font-size: 82px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto 25%;
    line-height: 150%;

    &--yellow {
      font-weight: 700;
      position: relative;

      border-bottom: 2px solid $yellow-underline;
      transition: 0.3s all;
      
      &:hover {
        background-color: $yellow-underline;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    &--blue {
      font-weight: 700;
      position: relative;

      border-bottom: 2px solid $blue-underline;
      transition: 0.3s all;
      
      &:hover {
        background-color: $blue-underline;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    &--red {
      font-weight: 700;
      position: relative;
      transition: 0.3s all;

      border-bottom: 2px solid $red-underline;
      
      &:hover {
        background-color: $red-underline;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    @include onTablet {
      margin: 0 auto 10%;
    }

    @include onDesktop {
      font-size: 11px;
      width: 860px;
      margin: 0 auto 7%;
    }

    @include on1440 {
      font-size: 15px;
    }

    @include on1920 {
      font-size: 20px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 170.9%;
    text-align: center;

    color: $main-red;
    background-color: transparent;
    border: 2px solid $main-red;
    border-radius: 6px;
    padding: 19px 28px;
    transition: 0.3s all;

    @include onDesktop {
      font-size: 14px;
      line-height: 170.9%;
      padding: 10px 30px;
      border-radius: 10px;
      margin: 0 auto;
    }

    @include on1440 {
      font-size: 21px;
      padding: 15px 45px;
    }

    @include on1920 {
      font-size: 28px;
      padding: 20px 60px;
    }

    &:hover {
      color: $white;
      cursor: pointer;
      background-color: $main-red;
    }
  }

  &__illustration {
    z-index: 1;
    position: absolute;
    left: 2%;
    bottom: 7%;
    width: 108px;
    height: 159px;

    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-delay: 3.6s;

    @include onTablet {
      animation-name: move;
      left: 5%;
      bottom: 5%;
    }

    @include onDesktop {
      animation-name: moveOnDesktop;
      width: 173px;
      height: 254px;
    }

    @include on1440 {
      width: 231px;
      height: 329px;
    }

    @include on1920 {
      left: -5%;
      width: 346px;
      height: 508px;
    }
  }

  &__social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
  }

  &__social-link {
    color: $social-links;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: 0.3s all;

    &:hover {
      transform: scale(115%);
    }
  }
}

.LoadingPage {
  position: absolute;
  z-index: 3;
  width: 100vw;
  top: 0%;
  height: 100vh;
  background-color: $white;
  background-image: radial-gradient(50% 50% at 80% 50%, $pink-gradient 0%, $black-gradient 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: LoadingLogo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;

  @include onDesktop {
    background-image: linear-gradient(to left bottom, $pink-gradient, transparent 30%, $pink-gradient);
  }

  &__logo {
    position: relative;
    left: 12px;
    width: 0;
    height: 0;
    animation-name: LoadingLogo;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
  }

  &__dot {
    animation-name: LoadingDot;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    background-color: $main-red;
    height: 24px;
    width: 24px;
    border-radius: 12px;
  }
}

@keyframes LoadingLogo {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 169px;
    height: 34px;
    opacity: 0;
  }
}

@keyframes LoadingDot {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(0);
    display: none;
  }
}

@keyframes move {
  from {
    bottom: 7%;
  }

  to {
    bottom: 9%;
  }
}

@keyframes moveOnDesktop {
  from {
    bottom: 5%;
  }

  to {
    bottom: 10%;
  }
}

@keyframes finishLoading {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}
