$pink-gradient: rgba(207, 32, 251, 0.11);
$black-gradient: rgba(255, 255, 255, 0.033);
$yellow-underline: #f9e862;
$red-underline: #ff1111;
$blue-underline: #005194;
$main-red: #ff5252;
$white: #fff;
$social-links: #828282;
$yellow-radiobutton: #ff981f;
$green-radiobutton: #3eff3a;
$blue-radiobutton: #3141d6;
