$pink-gradient: rgba(207, 32, 251, 0.11);
$black-gradient: rgba(255, 255, 255, 0.033);
$yellow-underline: #f9e862;
$red-underline: #ff1111;
$blue-underline: #005194;
$main-red: #ff5252;
$white: #fff;
$social-links: #828282;
$yellow-radiobutton: #ff981f;
$green-radiobutton: #3eff3a;
$blue-radiobutton: #3141d6;
$orange: #f34422;
$blue-number: #005595;
$range-fader: #5d91bd;
$fourth-question: #f9e21b;
$placeholder: #717171;
$purple: #4f54d0;
$green-number: #18ac15;
$pink-pagination: #ff96d8;
$pink-pagination-active: #bb5db5;
$slider-gray: #e4dfd9;
$slider-black: #161514;
