@import '../utils/mixins.scss';

.container {
  &__mainPage {
    margin: 0 auto;
    padding: 0 25px;

    @include onTablet {
      padding: 0 40px;
    }

    @include onDesktop {
      max-width: 1200px;
    }
  }

  &__FirstQuizPage,
  &__SecondQuizPage,
  &__FirstQuizPageAnswer,
  &__SecondQuizPageAnswer,
  &__ThirdQuizPage,
  &__ThirdQuizPageAnswer,
  &__FourthQuizPage,
  &__Form,
  &__Rejected,
  &__Approved,
  &__AdditionalDiscount,
  &__ApproveTestimonials,
  &__RejectedTestimonials {
    padding: 0 20px;

    @include onDesktop {
      padding: 40px 6% 0;
    }

    @include on1440 {
      padding: 60px 6% 0;
    }

    @include on1920 {
      padding: 80px 6% 0;
    }
  }
}
