@import '../utils/mixins.scss';

.footer {
  &__social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;

    &--companies {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      font-weight: 400;
      font-size: 10px;
      line-height: 160%;
      padding: 0 3%;

      @include onDesktop {
        gap: 21px;
      }
    }
  }

  &__social-item {
    @include on1440 {
      font-size: 14px;
    }

    &--desktop {
      display: none;
      font-weight: 400;
      font-size: 10px;
      line-height: 160%;

      @include onDesktop {
        display: inline;
        font-size: 10px;
      }
  
      @include on1440 {
        font-size: 14px;
      }
    }
  }

  &__social-link {
    position: relative;
    z-index: 2;
    color: #828282;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: 0.3s all;

    &:hover {
      transform: scale(115%);
    }
  }

  &__social-logo {
    width: 15px;
    height: 15px;
    transition: 0.3s all;

    &:hover {
      cursor: pointer;
      transform: scale(120%);
    }

    &--companies {
      width: fit-content;
      transition: 0.3s all;

      &:hover {
        cursor: pointer;
        transform: scale(120%);
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 13px;
    line-height: 170.9%;
    color: #fff;
    padding: 6px 36px;

    background: #ff1111;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s all;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #ff1111;
      color: #ff1111;
    }

    @include onDesktop {
      font-size: 10px;
    }

    @include on1440 {
      font-size: 15px;
    }

    @include on1920 {
      font-size: 20px;
    }
  }

  &__button {
    width: 100%;
    border-radius: 0;

    @include onDesktop {
      width: 60%;
      border-radius: 10px
    }

    @include on1440 {
      width: 78%;
      border-radius: 10px
    }

    @include on1920 {
      width: 70%;
      border-radius: 10px
    }
  }
}
