@import '../utils/mixins.scss';

.container {
  &__mainPage {
    margin: 0 auto;
    padding: 0 25px;

    @include onTablet {
      padding: 0 40px;
    }

    @include onDesktop {
      max-width: 1200px;
    }
  }

  &__FirstQuizPage,
  &__FirstQuizPageAnswer {
    padding: 0 20px;

    @include onDesktop {
      padding: 40px 6% 0;
    }

    @media (min-width: 1440px) {
      padding: 60px 6% 0;
    }

    @media (min-width: 1920px) {
      padding: 80px 6% 0;
    }
  }
}
