@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';
@import '../../utils/animation.scss';

.SecondQuizPageAnswer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
  }

  &__main {
    &--mobile {
      position: relative;
      z-index: 2;
      height: 100%;
      padding: 5% 6%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__info {
    width: 100%;
    background-image: url("../../images/quiz-ill.svg");
    display: flex;
    padding: 4.5% 0 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    @include onDesktop {
      padding: 40px 35px 35px;
      width: 40%;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }

    &--content-wrapper {
      flex: 1 1 auto;
    }
  }

  &__content-wrapper {
    display: none;
  
    @include onDesktop {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 60%;
    }
  }

  &__title {
    margin: 0 0 4%;
    padding: 5% 0;

    font-weight: 700;
    font-size: 22px;
    line-height: 130%;

    color: #1a1a1c;

    transform: translateX(30%);
    opacity: 0;
    animation: moveLeft 0.3s linear 0s 1 alternate forwards;

    &--blue {
      border-bottom: 2px solid $blue-underline;
      transition: 0.3s all;

      &:hover {
        background-color: $blue-underline;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    

    @include onTablet {
      padding: 2% 0;
    }

    @include onDesktop {
      padding: 0;
      font-size: 24px;
      text-align: left;
    }

    @include on1440 {
      font-size: 36px;
    }

    @include on1920 {
      font-size: 48px;
    }
  
    &--mobile {
      margin: 0 0 4%;
    }
  }

  &__text-answer {
    font-size: 12px;
    margin: 0 0 2%;
    line-height: 150%;
    text-align: left;

    transform: translateX(30%);
    opacity: 0;
    animation: moveLeft 0.3s linear 0.2s 1 alternate forwards;

    @include on1440 {
      font-size: 18px;
    }

    @include on1920 {
      font-size: 24px;
    }

    &--red {
      font-size: 32px;
      line-height: 150%;

      color: $red-underline;
      font-family: 'Balsamiq Sans', cursive;

      @include on1440 {
        font-size: 48px;
      }
  
      @include on1920 {
        font-size: 64px;
      }
    }

    &--mobile {
      margin: 0 0 2%;
      font-size: 16px;
      line-height: 150%;
      text-align: left;

      transform: translateX(30%);
      opacity: 0;
      animation: moveLeft 0.3s linear 0.2s 1 alternate forwards;

      &--red {
        font-size: 35px;
        line-height: 150%;

        color: $red-underline;
        font-family: 'Balsamiq Sans', cursive;
      }
    }
  }

  &__paragraph {
    font-size: 9px;
    line-height: 150%;

    @include on1440 {
      font-size: 14px;
    }

    @include on1920 {
      font-size: 18px;
    }

    &--red {
      color: $orange;
    }

    &--blue {
      color: $blue-number;
    }

    &--mobile {
      font-size: 12px;
      line-height: 150%;

      &--red {
        color: $orange;
      }
  
      &--blue {
        color: $blue-number;
      }
    }
  }

  &__vision-answer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6%;
    min-height: 200px;
    width: 50%;

    @include on1440 {
      min-height: 300px;
    }

    &--el {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      gap: 10%;

      border-bottom: 1px solid $red-underline;
      transition: 0.3s all;

      transform: translateX(30%);
      opacity: 0;

      &:hover {
        cursor: pointer;
        transform: scale(105%);
      }
      
      &:nth-child(1) {
        animation: moveLeft 0.3s linear 0.3s 1 alternate forwards;
      }

      &:nth-child(2) {
        animation: moveLeft 0.3s linear 0.4s 1 alternate forwards;
      }

      &:nth-child(3) {
        animation: moveLeft 0.3s linear 0.5s 1 alternate forwards;
      }

      &:nth-child(4) {
        animation: moveLeft 0.3s linear 0.6s 1 alternate forwards;
      }

      &:nth-child(5) {
        animation: moveLeft 0.3s linear 0.7s 1 alternate forwards;
      }

      &:nth-child(6) {
        animation: moveLeft 0.3s linear 0.8s 1 alternate forwards;
      }

      &:nth-child(7) {
        animation: moveLeft 0.3s linear 0.9s 1 alternate forwards;
      }
    }

    &--prof {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;

      @include on1440 {
        font-size: 20px;
      }

      @include on1920 {
        font-size: 24px;
      }
    }

    &--price {
      font-family: 'Balsamiq Sans', cursive;
      font-size: 16px;
      line-height: 160%;

      color: #005595;

      @include on1440 {
        font-size: 22px;
      }

      @include on1920 {
        font-size: 28px;
      }
    }

    @include on1440 {
      min-height: 250px;
    }

    @include on1920 {
      min-height: 300px;
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 6%;
      min-height: 200px;

      &--el {
        display: flex;
        margin-bottom: 5px;
        gap: 10%;

        transform: translateX(30%);
        opacity: 0;

        &:nth-child(1) {
          animation: moveLeft 0.3s linear 0.3s 1 alternate forwards;
        }
  
        &:nth-child(2) {
          animation: moveLeft 0.3s linear 0.4s 1 alternate forwards;
        }
  
        &:nth-child(3) {
          animation: moveLeft 0.3s linear 0.5s 1 alternate forwards;
        }
  
        &:nth-child(4) {
          animation: moveLeft 0.3s linear 0.6s 1 alternate forwards;
        }
  
        &:nth-child(5) {
          animation: moveLeft 0.3s linear 0.7s 1 alternate forwards;
        }
  
        &:nth-child(6) {
          animation: moveLeft 0.3s linear 0.8s 1 alternate forwards;
        }
  
        &:nth-child(7) {
          animation: moveLeft 0.3s linear 0.9s 1 alternate forwards;
        }
      }

      &--prof {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
      }

      &--price {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 16px;
        line-height: 160%;

        color: #005595;
      }
    }
  }

  &__paragraph {
    transform: translateY(100%);
    opacity: 0;
    animation: moveUp 0.3s linear 1s 1 alternate forwards;

    &--mobile {
      text-align: left;
      margin: 0;
      font-size: 16px;
      line-height: 130%;

      transform: translateY(100%);
      opacity: 0;
      animation: moveUp 0.3s linear 1s 1 alternate forwards;
    }
  }

  &__illustration {
    &--mobile {
      width: 96px;
      height: 283px;
      position: absolute;
      right: 0%;
      bottom: 10%;

      transform: translateY(100%);
      opacity: 0;
      animation: moveUp 0.3s linear 1.2s 1 alternate forwards;

      @include onDesktop {
        width: 125px;
        height: 367px;
        z-index: 1;
        bottom: 7%;
        right: 35%;
      }
  
      @include on1440 {
        width: 166px;
        height: 489px;
      }
  
      @include on1920 {
        width: 249px;
        height: 733px;
      }
    }
  }

  &__star {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__buttons-footer {
    bottom: 11%;
  }
}
