@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.ThirdQuizPage {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 30px 0 0;

  background-image: radial-gradient(50% 50% at 80% 30%, $pink-gradient 0%, $black-gradient 100%);

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
    width: 100%;
    padding: 0;
  }

  &__info {
    display: none;
    background-image: url("../../images/quiz-ill.svg");

    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 35px 35px;
      width: 40%;
      height: 100vh;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include onDesktop {
      width: 60%;
    }
  }

  &__main {
    padding: 12% 0 0;

    @include onDesktop {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 4%;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 374px) {
      font-size: 16px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--red {
      border-bottom: 2px solid $red-underline;
      transition: 0.3s all;

      &:hover {
        background-color: $red-underline;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
    }

    @media (min-width: 1920px) {
      font-size: 48px;
    }
  }

  &__slider {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;

    @include onDesktop {
      margin: 0 0 10%;
      width: 80%;
    }

    &--value {
      font-family: 'Balsamiq Sans', cursive;
      font-weight: 700;
      font-size: 40px;
      line-height: 170.9%;
      text-align: center;
      color: $green-number;

      @include onDesktop {
        font-size: 37px;
      }

      @include on1920 {
        font-size: 68px;
      }
    }

    &--hint {
      font-family: 'Balsamiq Sans', cursive;
      font-weight: 700;
      font-size: 40px;
      line-height: 170.9%;
      text-align: center;
      color: $green-number;

      @include onDesktop {
        font-size: 37px;
      }

      @include on1920 {
        font-size: 50px;
      }
    }
  }

  &__fader {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: $range-fader;
    appearance: none;
    border-radius: 2px;
    outline: none;

    @include on1440 {
      border-radius: 3px;
      height: 7px;
    }

    @include on1920 {
      border-radius: 4px;
      height: 10px;
    }

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-image: url('../../images/ThirdQuizPage/slider-thumb-m.svg');
      background-size: cover;
      background-position: center;

      @include onDesktop {
        background-image: url('../../images/ThirdQuizPage/slider-thumb-d.svg');

        width: 60px;
        height: 60px;
      }

      @include on1440 {
        width: 90px;
        height: 90px;
      }

      @include on1920 {
        width: 121px;
        height: 121px;
      }
    }
  }

  &__arrow {
    display: none;
    position: absolute;
  
    @include onDesktop{
      left: -20%;
      display: block;
    }

    &--mobile {
      display: flex;
      justify-content: center;
      left: -16%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__illustration {
    width: 111px;
    height: 238px;
    z-index: -1;
    position: absolute;
    bottom: 7%;
    right: 1%;

    @include onTablet {
      right: 50px;
    }

    @include onDesktop {
      width: 155px;
      height: 333px;
      z-index: 1;
      bottom: 7%;
      right: 35%;
    }

    @include on1440 {
      width: 206px;
      height: 444px;
    }

    @include on1920 {
      width: 309px;
      height: 665px;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 200px;
    z-index: 1;
    position: absolute;
    bottom: 8%;

    @include onDesktop {
      left: 36%;
      right: inherit;
      gap: 36px;
    }
  }

  &__arrow {
    font-size: 12px;
    line-height: 170.9%;

    @include onDesktop {
      font-size: 18px;
    }

    @include on1920 {
      font-size: 24px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include onDesktop {
        display: inline;
      }
    }
  }

  &__previous {
    display: flex;
    gap: 5px;
    transition: 0.3s all;
    
    &:hover {
      transform: scale(105%);
    }

    @include onDesktop {
      display: flex;
    }
  }

  &__next {
    display: flex;
    gap: 5px;
    transition: 0.3s all;

    &:hover {
      transform: scale(105%);
    }
  }
}
