@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.Form {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 30px 0 0;

  background-image: url("../../images/quiz-ill.svg");
  background-size: cover;

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
    width: 100%;
    padding: 0;
  }

  &__footer {
    background-color: $white;
    height: 33px;

    @include onDesktop {
      height: 42px;
    }
  }

  &__info {
    display: none;
    background-image: url("../../images/quiz-ill.svg");

    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 35px 35px;
      width: 40%;
      height: 100vh;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include onDesktop {
      width: 60%;
    }
  }

  &__main {
    padding: 12% 0 0;

    @include onDesktop {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 4%;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 374px) {
      font-size: 16px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
        margin-bottom: 6%;
      }
    }

    &--yellow {
      border-bottom: 2px solid $fourth-question;
      transition: 0.3s all;

      &:hover {
        background-color: $fourth-question;
        border-radius: 3px;
      
        cursor: pointer;
      }
    }

    &--white {
      border-bottom: 2px solid $white;
      transition: 0.3s all;

      &:hover {
        background-color: $white;
        border-radius: 3px;
      
        cursor: pointer;
      }
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
    }

    @media (min-width: 1920px) {
      font-size: 48px;
    }
  }

  &__paragraph {
    font-size: 16px;
    line-height: 130%;
    text-align: left;

    @include onDesktop {
      font-size: 12px;
      line-height: 150%;
      width: 80%;
      margin-bottom: 5%;
    }

    @include on1440 {
      font-size: 18px;
    }

    @include on1920 {
      font-size: 24px;
    }
  }

  &__form {
    position: relative;
    z-index: 2;

    width: fit-content;

    @include onDesktop {
      margin: 0 auto;
    }
  }

  &__error {
    color: $red-underline;
    font-size: 10px;

    @include onDesktop {
      font-size: 16px;
    }
  }

  &__input {
    display: block;
    margin-bottom: 12px;
    border: 1px solid $blue-number;
    background-color: transparent;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: 0.3s all;

    height: 25px;
    width: 200px;

    &:hover {
      cursor: pointer;
      border-color: $yellow-underline;
    }

    @include onTablet {
      width: 400px;
    }

    @include onDesktop {
      margin: 0 auto;
      margin-bottom: 15px;
      height: 25px;
      width: 240px;
      font-size: 12px;
      padding-left: 6px;
    }

    @include on1440 {
      height: 33px;
      width: 360px;
      font-size: 14px;
      padding-left: 9px;
    }

    @include on1920 {
      height: 40px;
      width: 480px;
      padding-left: 12px;
      font-size: 16px;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 170.9%;

      color: $placeholder;

      @include onDesktop {
        font-size: 12px;
        padding: 6px;
      }

      @include on1440 {
        font-size: 14px;
        padding: 9px;
      }

      @include on1920 {
        padding: 12px;
        font-size: 16px;
      }
    }
  }

  &__form-button {
    display: block;
    margin: 25px auto 0;

    background: $red-underline;
    border-radius: 10px;
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 170.9%;

    width: 100%;
    height: 35px;

    color: $white;
    transition: 0.3s all;

    &:hover {
      cursor: pointer;
      transform: scale(105%);
    }

    @include on1440 {
      width: 70%;
    }

    @include on1440 {
      height: 40px;
      margin: 36px auto 0;
    }

    @include on1920 {
      height: 45px;
      margin: 47px auto 0;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
    border: none;
    background-color: transparent;
  
    @include onDesktop{
      left: -25%;
      display: block;
    }

    &--mobile {
      display: flex;
      justify-content: center;
      left: -16%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__illustration {
    &--mobile {
      width: 110px;
      height: 271px;
      position: absolute;
      bottom: 7%;
      right: 1%;

      @include onTablet {
        right: 50px;
      }

      @include onDesktop {
        width: 142px;
        height: 352px;
        z-index: 1;
        bottom: 7%;
        right: 35%;
      }

      @include on1440 {
        width: 190px;
        height: 470px;
      }

      @include on1920 {
        width: 284px;
        height: 704px;
      }
    }
  }

  &__footer-button {
    @include onDesktop {
      display: none;
    }
  }
}
