@import '../../utils/mixins.scss';
@import '../../utils/colors.scss';

.FourthQuizPage {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 30px 0 0;

  background-image: radial-gradient(50% 50% at 80% 30%, $pink-gradient 0%, $black-gradient 100%);

  @include onDesktop {
    background-image: radial-gradient(50% 50% at 70% 30%, rgba(255, 9, 9, 0.11) 0%, rgba(255, 255, 255, 0.033) 100%);
    width: 100%;
    padding: 0;
  }

  &__info {
    display: none;
    background-image: url("../../images/quiz-ill.svg");

    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 35px 35px;
      width: 40%;
      height: 100vh;
    }

    @include on1440 {
      padding: 60px 53px 53px;
    }

    @include on1920 {
      padding: 80px 70px 70px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include onDesktop {
      width: 60%;
    }
  }

  &__main {
    padding: 12% 0 0;

    @include onDesktop {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 4%;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 374px) {
      font-size: 16px;
    }

    &--mobile {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--yellow {
      border-bottom: 2px solid $fourth-question;
      transition: 0.3s all;

      &:hover {
        background-color: $fourth-question;
        border-radius: 3px;
      
        cursor: pointer;
      }
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }

    @media (min-width: 1440px) {
      font-size: 36px;
    }

    @media (min-width: 1920px) {
      font-size: 48px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding-top: 5%;

    font-weight: 700;
    font-size: 16px;
    line-height: 170.9%;

    @include onDesktop {
      font-size: 17px;
      justify-content: left;
    }

    @include on1440 {
      font-size: 22px;
    }

    @include on1920 {
      font-size: 33px;
    }
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 144px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s all;

    @include on1440 {
      width: 217px;
      height: 129px;
    }

    @include on1920 {
      width: 326px;
      height: 194px;
    }

    &:hover {
      transform: scale(110%);
    }

    &--true {
      background-image: url('../../images/SecondQuizPage/true.svg');
      background-size: cover;
    }

    &--false {
      background-image: url('../../images/SecondQuizPage/false.svg');
      background-size: cover;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
  
    @include onDesktop{
      left: -20%;
      display: block;
    }

    &--mobile {
      display: flex;
      justify-content: center;
      left: -16%;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__illustration {
    width: 111px;
    height: 238px;
    z-index: -1;
    position: absolute;
    bottom: 7%;
    right: 1%;

    @include onTablet {
      right: 50px;
    }

    @include onDesktop {
      width: 155px;
      height: 333px;
      z-index: 1;
      bottom: 7%;
      right: 35%;
    }

    @include on1440 {
      width: 206px;
      height: 444px;
    }

    @include on1920 {
      width: 309px;
      height: 665px;
    }
  }
}
